body {
  background: white;
  color:black;
  margin:0;
}

nav{
  background: rgb(124, 231, 245);
  width: 100%;
  height: 60px;
  top:0;
  left: 0;
  padding: 15px;
}

nav p{
  font-size: 1.2em;
  padding-left: 30px;
  float:left;
}

nav ul{
  display:inline-block;
  float: right;
  list-style: none;
}

nav li{
  padding-right: 30px;
  font-size: 1.2em;
  cursor: pointer;
  float: right;
  text-decoration: none;
}

.title{
  text-align: center;
  font-size: 2em;
  padding: 50px;
}
